<div class="bio-thirdperson-content">
    <p>Fang Song is an Associate Professor in the <a href="https://www.pdx.edu/computer-science/">Computer Science Department</a> at <a href="https://www.pdx.edu/">Portland State University</a>. His research lies at the intersection of cryptography, quantum computing, and computational complexity, including provable security against quantum attacks, quantum algorithms, and quantum pseudorandomness. His work has been supported by the <a href="https://www.nsf.gov/" target="_blank">National Science Foundation</a> (including a CAREER Award) and the <a href="https://www.sony.com/en/SonyInfo/research-award-program/" target="_blank">Sony Group</a>. He received the Early Career Research Award at Portland State University</p>
  <p>Before joining Portland State, Fang Song was a postdoctoral fellow at the <a href="http://iqc.uwaterloo.ca">Institute for Quantum Computing</a> at the <a href="http://uwaterloo.ca">University of Waterloo</a> (2013–2016). He received his PhD in Computer Science and Engineering from <a href="http://www.psu.edu">Penn State</a> in 2013, advised by <a href="http://www.cse.psu.edu/~hallgren">Sean Hallgren</a>, and his bachelor's degree from <a href="http://en.ustc.edu.cn/">USTC</a> in 2008. </p>
  <div class="bio-links">
    <a class="pub-link" href="{{ site.url }}/files/docs/cv_fs.pdf" target="_blank">
	<i class="fa-regular fa-file-lines" aria-hidden="true"></i> CV
    </a>
  </div>
</div>
