<!--<div class="navigation-wrapper">
  <nav role="navigation" id="site-nav">
   <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
      {% endif %}
      {% if link.title == "Teaching" %}
      <li><a class="active" href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
      {% else %}
      <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
      {% endif %} {% endfor %}
 </ul>
  </nav>
</div> -->
<div class="navigation-wrapper">
  <nav role="navigation" id="site-nav">
    <ul>
      <!--      <li><a href="{{base}}{{page.homeurl}}">{{page.courseid}}</a></li> -->
      {% for link in site.data.course %}
          	    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = base %}
                    {% endif %}
      {% if link.courseid == page.courseid and link.nav == true %}
      {% if link.desc == page.desc  %}
      <li><a class="active" href="{{ domain }}{{ link.url }}">{{ link.desc }}</a></li>
      {% else %}
      <li><a href="{{ domain }}{{ link.url }}"
	     {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.desc }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% comment %}
      <li><b><a style="background-color:white;color:#FF6347" href="{{ base }}">Back to Home</a></b></li>
      {% endcomment %}
      <li><a style="color:#FFFFF0" href="{{ base }}">Back to Home</a></li>
    </ul>
  </nav>
</div> 
<!-- /.navigation-wrapper -->

<!--
<div class="navigation-wrapper">
<nav id ="site-nav">
  <ul>
    {% assign count = page.menucount %}
    {% for i in (1..count) %}
    <li> <a href="{{base}}{{page.permalink}}"> {{ page.menu }}</a></li>
    {% endfor %}
    </ul>
</nav>
</div>
-->
{% include browser-upgrade.html %}

<div class="js-menu-screen menu-screen"></div>
